.env
*.pyc
__pycache__/
.pytest_cache/
*.log
logfile
dist/
build/
*.egg-info/
venv/
.venv/
*.zip
*.tar.gz
docs/_build/

# Ignore node_modules and cache
node_modules/
.cache/

# Ignore Miniconda installer and other large binaries
Miniconda3-latest-MacOSX-arm64.sh
