@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    background-color: #12141b;
    color: white;
  }
}

.glass-card {
  background: rgba(28, 31, 38, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.text-neon-green {
  color: #00d97e;
  text-shadow: 0 0 5px #00d97e, 0 0 10px #00d97e;
}
